<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="userContextCacheTimeout" value="60"/>
    <add key="bsi_user" value="sadmin" />
    <add key="bsi_password" value="sadmin" />
    <add key="bsi_company" value="DGSIA" />
    <add key="workflow_contractparty_name" value="do not delete-temporaryCPM" />
    <add key="workflow_contract_name" value="do not delete-temporaryCN" />
    <add key="workflow_service_name" value="do not delete-temporarySN" />
    <add key="workflow_parameter_name" value="stato approvativo" />
    <add key="log_path" value="F:\log" />
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>