<p class="float-left no-drag">
    <input type="text" *ngIf="isDashboardModeEdit" [(ngModel)]="widgetname" (ngModelChange)="widgetnameChange($event)" />
    <span *ngIf="!isDashboardModeEdit"> {{ widgetname }}</span>
</p>
<button type="button" [disabled]="loading" *ngIf="!isDashboardModeEdit" class="no-drag btn-sm btn btn-primary float-right mr-1" (click)="openModal()">
    <i class="fa fa-cog"></i>
</button>
<div class="clearfix"></div>
<div class="spinner-grow text-primary" *ngIf="loading" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div class="card text-white bg-primary mt-3">
    <div class="card-body p-3 text-center">
        <div class="h1">{{ catalogCount }}</div>
        <p class="font-12 mb-1">{{ measure }}</p>
        <p class="font-12 mb-1"><b>Periodo: </b>{{ period || 'N/A' }}</p>
        <p class="font-12 mb-1" *ngIf="incompletePeriod">Priodo Incompleto</p>
    </div>
</div>
