a{
    padding: 10px !important; 
    display: block; 
    text-decoration: none !important;
    list-style: none !important;
    border-bottom: 1px solid #ECECEC;
    color: #3B3A3A !important;
}

a:hover{
    background-color: #ECECEC !important;
    text-decoration: none !important;
}