<div class="animated fadeIn">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div *ngIf="loading" class="text-center" id="loadingDiv">
                        <span class="fa fa-spinner text-primary fa-spin fa-3x"></span>
                    </div>
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="showOnReady" style="font-size: 12px;width:100%"
                           class="table table-responsive-sm table-hover table-outline mb-0">
                        <thead class="thead-light2">
                            <tr>
                                <th class="text-center" style="display:none">Contratto</th>
                                <th class="text-center" width="40%">KPI</th>
                                <th class="text-center">Nome Form</th>
                                <th class="text-center">Frequenza</th>
                                <th class="text-center">N. allegati totali</th>
                                <th class="text-center">Data ultimo caricamento</th>
                                <th class="text-center">Azione</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="loadingForms.length === 0 && !loading">
                                <td colspan="7">
                                    <strong>
                                        Nessun Loading Form assegnato all'utente
                                    </strong>
                                </td>
                            </tr>
                            <tr *ngFor="let loadingForm of loadingForms; let i = index"
                                [ngClass]="{'active': cutOffRow(loadingForm)}">
                              <td>
                                <div>{{ loadingForm.sla_name }}</div>
                              </td>
                              <td>
                                <div>{{ loadingForm.global_rule_name }}</div>
                              </td>
                              <td>
                                <div class="text-center">
                                  {{ detailsForms[loadingForm.global_rule_id][0].form_name }}
                                </div>
                              </td>
                              <td>
                                <div class="text-center">
                                  {{ loadingForm.tracking_period }}
                                </div>
                              </td>
                              <td>
                                <div class="text-center">
                                  <span class="badge badge-success">
                                    {{ loadingForm.attachmentscount || '0' }}
                                  </span>
                                </div>
                              </td>
                              <td>
                                <div class="text-center">
                                  <h1 style="font-size: 0.875rem;font-weight: 400;line-height: 1.5;" [ngClass]="formatInputDate(loadingForm.latest_input_date) === 'Nessun caricamento' ? 'badge badge-warning' : ''">
                                    <span style="display:none">{{ formatInputDate(loadingForm.latest_input_date) }}</span>{{ formatInputDateIT(loadingForm.latest_input_date) }}
                                  </h1>

                                </div>
                              </td>
                              <td>
                                <div class="text-center">
                                  <a [routerLink]="['/loading-form/utente', loadingForm.form_id, loadingForm.form_name]"
                                     class="btn btn-primary btn-sm text-white"><span class="fa fa-edit"></span></a>
                                </div>
                              </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>
