<div style="margin-top: -20px;">
    <div class="table-responsive" style="background: #ffffff; padding: 10px">
        <br />
        <h2 style="color:#565656">GENERAZIONE BOOKLET</h2><br>
        <button class="btn btn-success" (click)="addBooklet()">
            Crea Booklet
        </button><br><br>
        <table class="table stripe" #ConfigurationTable datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead class="thead-light2">
                <tr style="font-size:12px;color:white">
                    <th style="text-align:center; width:8%">SELEZIONA</th>
                    <th style="text-align:center">CARTELLA</th>
                    <th style="text-align:center">BOOKLET</th>
                    <th style="text-align:center">CONTRATTO</th>
                    <!-- <th style="text-align:center">BOOKLET TEMPLATE</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of ConfigTableBodyData; index as i">
                    <td style="text-align:center; width:8%"><input type="checkbox" (change)="getId(row)" /></td>
                    <td style="text-align:center">{{row.foldername}}</td>
                    <td style="text-align:center">{{row.reportname}}</td>
                    <td style="text-align:center">{{row.contractname}}</td>
                    <!-- <td style="text-align:center">{{row.templatename}}</td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div id="thresholdModal" bsModal #thresholdModal="bs-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="classInfo"
        aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="approveModalLabel">Il suo utente non ha un indirizzo e-mail configurato. Inserire un indirizzo e-mail valido al quale spedire  i </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hideThresholdModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body row">
                <div class="col-md-6" style="margin-top:-5px">
                    <input type="email" class="form-control" [(ngModel)]="validEmail" placeholder="Email" >
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="createbooklet()">Invia</button>
                <!-- <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="hideThresholdModal()">Chiudi</button> -->
            </div>
        </div>
    </div>
</div>
